[Unit]
Description=My Webapp Java REST Service
[Service]
User=root
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory= /usr/local/bin/swarmclient/
#path to executable. 
Type=forking
#executable is a bash script which calls jar 
ExecStart=/bin/bash /usr/local/bin/swarmclient/swarm-client.sh start
KillMode=process
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target